<div class="container">
  <form autocomplete="off" #cantorForm="ngForm" (ngSubmit)="salvar(cantorForm)">
    <div class="grid">
      <div class="col-12">
        <h1>Novo Cantor</h1>
      </div>

      <div class="col-6 p-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" [(ngModel)]="cantor.nome" required [minLength]="2" #nome="ngModel">
        <div class="card-requerido" *ngIf="nome.hasError('required') && nome.dirty">
          Informe o nome do cantor.
        </div>
        <div class="card-requerido" *ngIf="nome.hasError('minLength') && nome.dirty">
          O nome do cantor deve ter no mínimo de {{ nome.errors?.['minlength'].requiredLength}} caracteres.
        </div>
      </div>

      <div class="col-12 md:col-4 p-fluid">
        <label>País</label>
        <p-dropdown [options]="paises" [(ngModel)]="cantor.pais" placeholder="Selecionar o país" name="pais"
          [required]="true" #pais="ngModel"></p-dropdown>
        <div class="card-requerido" *ngIf="pais.invalid && pais.touched">
          Informe o país do cantor.
        </div>
      </div>

      <div class="col-4">
        <button pButton type="submit" label="Salvar" [disabled]="cantorForm.invalid" class="p-button"></button>
        <button pButton type="submit" label="Novo" severity="warning"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
