body {
  margin: 0;
  font-family: 'Arial', 'Helvetica', sans-serif;
  color: #ffa31a;
}

label {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}


